[submodule "SmartClockHardware_LightUnit"]
	path = SmartClockHardware_LightUnit
	url = https://github.com/CodingSpiderFox/SmartClockHardware_LightUnit
[submodule "SmartClockHardware_ControlUnit"]
	path = SmartClockHardware_ControlUnit
	url = https://github.com/CodingSpiderFox/SmartClockHardware_ControlUnit
